name: Run Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */5 * * *'

jobs:
  run-bot:
    runs-on: ubuntu-latest

    concurrency:
      group: bot-restart
      cancel-in-progress: false

    env:
      TOKEN: ${{ secrets.TOKEN }}

    steps:
      - name: Setup Actions
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Requirements
        run: |
          pip install -r requirements.txt

      - name: Fetch Token
        run: |
          sed -i "s/^token:.*/token: \"${TOKEN}\"/" config.yml

      - name: Download latest Stockfish dev
        run: |
          mkdir -p engines
          curl -L -o stockfish.zip http://abrok.eu/stockfish/latest/linux/stockfish_x64_modern.zip
          unzip -o stockfish.zip -d engines/
          mv engines/stockfish_* engines/stockfish
          chmod +x engines/stockfish

      - name: download latest fsf
        run: |
          mkdir -p engines

          RUN_ID=$(curl -s -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/fairy-stockfish/Fairy-Stockfish/actions/workflows/release.yml/runs?per_page=1&branch=master&status=success" \
            | jq -r '.workflow_runs[0].id')

          ARTIFACT_URL=$(curl -s -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/fairy-stockfish/Fairy-Stockfish/actions/runs/$RUN_ID/artifacts" \
            | jq -r '.artifacts[] | select(.name | contains("linux-x86-64-modern")) | .archive_download_url')

          echo "Downloading Fairy-Stockfish from $ARTIFACT_URL..."
          curl -L -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -o fsf.zip "$ARTIFACT_URL"

          unzip -o fsf.zip -d engines/

          # Pick the standard modern build, ignore largeboards
          if [ -f engines/fairy-stockfish_x86-64-modern ]; then
            mv engines/fairy-stockfish_x86-64-modern engines/fairy-stockfish
          else
            echo "Fairy-Stockfish modern binary not found!"
            exit 1
          fi

          chmod +x engines/fairy-stockfish


      - name: Run Bot
        run: |
          echo "Starting bot..."
          python3 -u user_interface.py "matchmaking"
